<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Apple Touch Icon -->
    <link rel="apple-touch-icon" href="{{ url_for('static', path='/img/apple-touch-icon.png') }}">
    
    <!-- Title -->
    <title>{% block title %}Grafik Służbowy{% endblock %}</title>

    <!-- Styles -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', path='/css/style.css') }}"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="{{ url_for('static', path='/img/favicon.ico') }}"
    />
</head>
<body>
    <!-- Menu hamburger -->
    <div class="hamburger-menu">
      <div class="hamburger-icon" onclick="toggleMenu(event)">
        <div></div>
        <div></div>
        <div></div>
      </div>
      <div id="logout-dropdown" class="dropdown-content">
        <div class="dropdown-user-info">
          Zalogowano jako:<br />
          <strong>{{ user_email }}</strong>
        </div>
        <a href="/">Grafik Służbowy</a>
        <a href="/auth/logout">Wyloguj</a>
      </div>
    </div>

    <!-- Main content -->
    <main class="main-content">
        {% block content %}{% endblock %}
    </main>

    <!-- Footer -->
    <footer class="site-footer">
        Created by plomat23@gmail.com | 
        <a href="/privacy" target="_self">Polityka Prywatności</a>
    </footer>

    <!-- Script -->
    <script src="{{ url_for('static', path='/js/script.js') }}"></script>
</body>
</html>
